bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

*.user
*.userosscache
*.suo
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

*.log
log/
Logs/
*.scc

.vscode/
.ionide/

appsettings.Development.json
appsettings.*.json
!appsettings.json

*.db
*.db-shm
*.db-wal
